<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;1,400&family=Orbitron:wght@400;700;900&family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
  <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/favicon-32x32.png' | prepend: site.baseurl }}" type="image/png" sizes="32x32">
  <link rel="icon" href="{{ '/assets/images/favicon-16x16.png' | prepend: site.baseurl }}" type="image/png" sizes="16x16">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon-180x180.png' | prepend: site.baseurl }}" sizes="180x180">
  <meta property="og:image" content="{{ '/assets/images/geekend-hero.png' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ '/assets/images/geekend-hero.png' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

{% include google_analytics.html %}
